@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --grey-20: rgb(241, 241, 243);
  --blue-10: rgb(221, 230, 247);
}

* {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3rem);
  background-color: var(--blue-10);
}