@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Roboto&display=swap');

:root {
  --grey-20: rgb(241, 241, 243);
  --blue-10: rgb(221, 230, 247);
}

* {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  background-color: var(--blue-10);
}